.Todo__List{
    list-style: none;
}
.App{
    justify-content: center;
    align-items: center;
    h1{
        background-image: linear-gradient(to right,#0084ff,#13e5f0);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 4.5rem;
    }
    .container{
        margin-top: 6rem;
    }
}
h2{
    background-image: linear-gradient(to right,#0084ff,#00f2ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.Todo__Res{
    border: 2px solid black;
    padding: 5rem;
}
.Todo__Add{
    border: 2px solid black;
    margin-left: 50%;
    padding: 5rem;
}
