$width:35%;
$padding:5rem;
$marginTop:3rem;
.Todo__List{
    list-style: none;
}
.App{
    justify-content: center;
    align-items: center;
    h1{
        background-image: linear-gradient(to right,#0084ff,#13e5f0);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 4.5rem;
    }
    .container-fluid{
        margin-top: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap-reverse;
    }
}
h2{
    background-image: linear-gradient(to right,#0084ff,#00f2ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.Todo__Res{
    border: 2px solid #0084ff;
    padding: $padding;
    width: $width;
    border-radius: 20px;
    margin-top: $marginTop;
}
.Todo__Add{
    margin-top: $marginTop;
    border: 2px solid  #0084ff;
    padding: $padding;
    box-sizing: border-box;
    width: $width;
    border-radius: 20px;
}
