.Todo__List{
    list-style: none;
}
.App{
    justify-content: center;
    align-items: center;
    h1{
        background-image: linear-gradient(to right,#0084ff,#13e5f0);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 4.5rem;
    }
    .container-fluid{
        margin-top: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
h2{
    background-image: linear-gradient(to right,#0084ff,#00f2ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.Todo__Res{
    border: 2px solid #0084ff;
    padding: 5rem;
    width: 50%;
    border-radius: 20px;
}
.Todo__Add{
    border: 2px solid  #0084ff;
    padding: 5rem;
    box-sizing: border-box;
    width: 50%;
    border-radius: 20px;
}
@media screen and (max-width:984px){
    .container-fluid{
        flex-direction: column;
    }
}
